
body {
  background-color: black;
  font-family: 'Arial';
      }

h1 {  
  color: white; 
  text-align: center;
  width: 100%;
  position: relative;
  top: 200px;
    }

p {  
  color: white;
  text-align: center;
  width: 100%;
  position: relative;
  top: 80px;
    }
